/* 
rect-purple: #c98aff;
hover-purple: #509655;
accent: #009696;
*/

.board {
	width: 1060px;
	margin: 10% auto;
	background-color: aliceblue;
	box-shadow: 0px 0px 2px 2px #c98aff;
	text-align: center;
	padding: 20px;
}

rect {
	fill: #c98aff;
	stroke: #509655;
}

rect:hover {
	fill: #7426b9;
}

div.tooltip {
	position: absolute;
	text-align: center;
	width: 150px;
	height: 40px;
	padding: 5px;
	background: #87d88c;
	border: 1px solid black;
	border-radius: 8px;
	pointer-events: none;
	opacity: 0;
}